:root {
	--transition: 200ms ease-in-out;
	--transition-long: 500ms ease-in-out;
	--border-blk: 2px solid black;
	--border-white: 2px solid rgb(248, 248, 248);
	--bg-nav: hsl(43, 14%, 10%);
	--bg-main: hsl(44, 85%, 52%);
	--bg-main--hover: hsl(44, 90%, 46%);
	--bg-off: hsla(59, 100%, 50%, 0.808);
	--modal-radius: 2em;
	--text-grey: rgb(43, 42, 42);
	--text-grey--hover: hsl(0, 0%, 94%);
	--fs-lorg: 0.7em;
	--fs-med: 0.6em;
	--fs-smol: 0.5em;
	--vinyette: radial-gradient(
		circle,
		rgba(119, 142, 255, 0.641) 0%,
		rgba(0, 0, 0, 0.894) 71%
	);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	margin: 0;
	position: relative;
	padding: 0;
}

h1 {
	margin-block: 0.4em;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 5px;
	border: 2px solid white;
}

.flex {
	display: flex;
	justify-content: space-between;
	gap: 0.4rem;
}

.banner {
	position: relative;
	z-index: 222;
}

.banner-img {
	height: 8rem;
	border: none;
	border-radius: 0;
}

.banner::after {
	content: "";
	position: absolute;
	/* inset: 0; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-image: linear-gradient(
		rgba(203, 203, 203, 0.524),
		rgba(15, 1, 1, 0.881)
	);
}

.banner-text {
	position: absolute;
	z-index: 200;
	display: block;
	top: 3.5rem;
	left: 1rem;
	margin-block: 0;
	text-transform: capitalize;
	color: rgb(255, 255, 255);
	font-size: 4rem;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

/* navbar */

.navbar {
	background-color: var(--bg-nav);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.257);
	transform: translateY(-100%);
	position: absolute;
	transition: transform var(--transition-long);
	width: 100%;
	z-index: 111;
}

.navbar.open {
	/* display: block; */
	transform: translateY(0%);
}

.nav-links {
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: left;
	gap: 3.5em;
	font-size: var(--fs-lorg);
}

.nav-link {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--bg-main);
	background: none;
	background-color: transparent;
	border: none;
	border-bottom: 4px solid rgba(0, 0, 0, 0);
	transition: color var(--transition);
	transition: background-color var(--transition);
	transition: border-bottom var(--transition);
	padding: 1.2rem 0.6rem;
	cursor: pointer;
}

.nav-link:hover {
	color: var(--text-grey--hover);
	background-color: var(--bg-main--hover);
	border-bottom: 4px solid var(--bg-main--hover);
}

.filters {
	gap: 10%;
}

.filter-container {
	width: 100%;
}

.selector-label {
	margin-bottom: 0.4em;
	display: block;
	text-transform: capitalize;
	font-size: 0.8em;
	text-indent: 2%;
}

.option--selector {
	margin-bottom: 1em;
	width: 100%;
	padding: 0.6em;
	border-radius: 100vh;
	/* border: var(--border-blk); */
	border: none;
	background-color: var(--bg-main);
}

.option {
	text-transform: capitalize;
}

.movies-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
	column-gap: 1rem;
	row-gap: 2rem;
}

.app-center {
	margin: 0 auto;
	max-width: 95vw;
}

.movie-container {
	padding: 0.8em;
	background-color: var(--bg-main);
	border-radius: 1em;
	cursor: pointer;
	transition: box-shadow var(--transition);
	overflow: hidden;
	padding-bottom: max(2vw, 50px);
	/* width: min(214px); */
}

.movie-container:hover {
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.438);
}

.title {
	margin-bottom: 0.2em;
	min-height: 1.5rem;
}

.movie-poster {
	height: max(60%, 300px);
}

.language {
	text-transform: uppercase;
	width: 30px;
	height: 30px;
	aspect-ratio: 1;
	display: inline-block;
	border-radius: 50%;
	display: grid;
	place-items: center;
}

.language,
.lang-syn span,
.btn {
	background-color: var(--bg-off);
	border: var(--border-white);
}

.synopsis {
	font-size: 0.8em;
	line-height: 1.4;
}

.lang-syn {
	display: flex;
	overflow-x: scroll;
	flex-wrap: 1;
	align-items: center;
	gap: 0.4em;
	scrollbar-width: none;
}

.lang-syn::-webkit-scrollbar {
	height: 0;
	background-color: transparent;
}

.lang-syn span {
	font-size: 0.6em;
	margin-block: 2em;
}

.lang-syn span,
.btn {
	padding: 0.4em;
	border-radius: 100vh;
	/* margin-right: 0.6em;
	margin-bottom: 0.5em; */
}

.btn {
	cursor: pointer;
}

/* movie modal */
.movie-modal--bg {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.486);
	inset: 0;
	height: 100%;
	width: 100%;
	z-index: 222;
	display: flex;
	justify-content: center;
	align-items: center;
}

.movie-modal {
	--text-clr: hsl(0, 12%, 78%);
	--text-off: hsl(0, 12%, 80%);

	z-index: 222;
	position: relative;

	display: grid;
	width: clamp(20rem, 90%, 1050px);
	height: minmax(auto, 90%);
	margin-top: 0;
	background-color: white;
	padding: 2em;
	gap: 1em;
	grid-template-columns: 25% 1fr;
	border-radius: var(--modal-radius);
	box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.438);
	z-index: -223;
}

.movie-modal::after {
	content: "";
	position: absolute;
	background-image: var(--vinyette);
	/* background-image: linear-gradient(
		rgba(181, 181, 181, 0.689),
		rgba(120, 120, 120, 0.456)
	); */
	width: 100%;
	height: 100%;
	border-radius: var(--modal-radius);
	z-index: -222;
}

.modal--img {
	max-width: 100%;
	margin-top: 0em;
	z-index: 222;
}

.pers-stats {
	font-size: 0.8rem;
	padding-top: 1em;
}

.pers-stat {
	color: var(--text-clr);
	padding-bottom: 0.2em;
	text-decoration: none;
}

.pers-stat.last {
	cursor: pointer;
	transition: color var(--transition);
}

.pers-stat.last:hover {
	color: var(--text-grey);
}
.rating--star,
.close-btn--icon {
	width: 20px;
	z-index: 333;
	cursor: pointer;
}

.rating--star {
	fill: rgb(105, 92, 18);
}

.modal--genres {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4em;
	justify-content: space-between;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	z-index: 222;
}

.modal--genre {
	z-index: 222;
	background-color: gold;
	padding: 0.2em 0.4em;
	font-size: 0.9em;
	border-radius: 100vh;
}

.modal--lang-rat {
	padding-inline: 0.2em;
}

.modal--language {
	color: var(--text-clr);
}

.modal--rating {
	align-items: center;
	color: var(--text-clr);
}

.modal-info {
	overflow-y: scroll;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 0px;
}

/* .lang-syn::-webkit-scrollbar {
	height: 0;
	
} */

.modal--header {
	align-items: center;
	margin-bottom: 1.5em;
}

.modal--title {
	margin: 0;
	z-index: 222;
	color: var(--text-clr);
}

.modal--aka-container {
	overflow-x: scroll;
	overflow-y: scroll;
	max-height: 1rem;
	scrollbar-width: none;
}

.modal--year {
	z-index: 222;
	color: var(--text-clr);
}

.modal--subtitle {
	justify-content: space-between;
	z-index: 222;
	font-size: 0.8em;
	color: var(--text-off);
}

.modal--description {
	color: hsl(0, 52%, 4%);
	z-index: 222;
	font-weight: 200;
	line-height: 1.5;
	overflow-y: scroll;
	scrollbar-width: none;

	height: 150px;
}

.cast-crew--title,
.modal--description {
	font-size: 0.85em;
	letter-spacing: 0.5px;
	color: var(--text-clr);
	margin-top: 0.6em;
}

.cast-crew--title {
	margin-bottom: 0.5em;
}

.cast-box,
.crew-box {
	padding-bottom: 0.4em;
	height: fit-content;
}

.cast-box {
	overflow-x: scroll;
	overflow-y: visible;
	scrollbar-width: none;
}

.modal--cast-crew {
	display: flex;
	gap: 0.4em;
}

.cast-card {
	display: block;
	height: fit-content;
	padding: 0;
	position: relative;
}

.cast-card-img {
	max-height: 100px;
	min-width: 60px;
	display: block;
}

.cast-card::after {
	content: attr(data-info);
	cursor: pointer;
	/* clip-path: polygon(
		0% 0%,
		100% 0%,
		100% 85%,
		68% 85%,
		50% 100%,
		33% 85%,
		0 85%
		); */
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0;
	color: white;
	background-color: rgba(196, 147, 78, 0.548);
	font-size: 0.6em;
	padding: 0.6em;
	padding-bottom: 1.5em;
	transition: opacity var(--transition);
	z-index: 333;
	display: grid;
	place-items: center;
	border-radius: 5px;
	opacity: 0;
}

.cast-card:hover::after {
	opacity: 1;
}

.cast-card-img::after span {
	font-style: italic;
}

.close-btn,
.nav-btn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	fill: var(--bg-main);
	transition: fill var(--transition);
}

.nav-btn {
	z-index: 444;
	transition: fill var(--transition);
}

.nav-btn:hover {
	fill: var(--bg-main--hover);
}

.close-btn:hover {
	fill: var(--bg-main);
}

/* search */

.search-form {
	position: relative;
}

.search-clear {
	transform: translateY(-45%);
	right: 0.1em;
	transition: display var(--transition);
	transition: fill var(--transition);
}

.search-clear:hover {
	fill: var(--bg-main--hover);
}

.search-field {
	width: 100%;
	margin-bottom: 1em;
	background-color: var(--bg-main);
	border: var(--border-blk);
	padding: 0.5em 1em;
	border-radius: 100vh;
}

.load-more {
	margin-block: 1em;
	text-transform: capitalize;
	font-weight: bold;
	display: inline-block;
	background-color: var(--bg-main);
	padding: 1em 1.5em;
	border-radius: 100vh;
	cursor: pointer;
}

/* home page */

.home {
	background-color: var(--bg-main);
}

.home--title {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
	position: relative;
}

.home--title::after {
	content: "";
	height: 5px;
	width: 8rem;
	position: absolute;
	background-color: var(--bg-main);
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.trending-container {
	display: grid;
	grid-template-columns: repeat(3, clamp(150px, 33%, 33vw));
	grid-template-rows: repeat(3, minmax(30vh, 33%));
	grid-template-areas:
		"slide1 slide2 slide3"
		"slide4 slide4 slide5"
		"slide4 slide4 slide6";
	gap: 0.8em;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

#trending-1 {
	grid-area: slide1;
}
#trending-2 {
	grid-area: slide2;
}
#trending-3 {
	grid-area: slide3;
}

#trending-4 {
	grid-area: slide4;
}

#trending-4 {
	grid-area: slide4;
}
#trending-0 {
	grid-area: slide5;
}
#trending-6 {
	grid-area: slide6;
}

.grid-movie {
	width: 100%;
	position: relative;
	z-index: 88;
}

.grid-movie::after {
	content: "";
	width: 100%;
	height: 100%;
	background-image: var(--vinyette);
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: opacity var(--transition);
	border-radius: 8px;
}

.grid-movie:hover::after {
	opacity: 1;
}

.grid-movie--img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;

	border: none;
}

.grid-movie--title {
	color: white;
	position: absolute;
	bottom: 0;
	padding: 0.3em;
	z-index: 222;
}

.grid-movie--desc {
	z-index: 222;
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	padding: 1em;
	color: white;
	opacity: 0;
	transition: opacity var(--transition);
	font-size: clamp(0.4em, 2vh, 2rem);
}

.grid-movie:hover .grid-movie--desc {
	opacity: 1;
}

@media (max-width: 572px) {
	.banner-text {
		font-size: 3rem;
	}

	.navbar {
		overflow-y: hidden;
	}

	.nav-links {
		flex-direction: column;
	}

	.nav-links.app-center {
		gap: 0;
	}

	.movie-modal {
		grid-template-columns: 1fr;
		/* max-height: 90vh; */
		overflow-y: scroll;
	}

	.movie-modal::after {
		/* max-height: 90vh; */
	}

	.modal--sidebar {
		display: flex;
		gap: 1em;
	}

	.modal--lang-rat {
		padding: 0;
		align-items: flex-start;
	}

	.modal--genres {
		align-items: center;
		height: 1em;
		margin-top: 0;
	}

	.modal--img {
		max-width: 30%;
	}

	.app-center h1 {
		font-size: 1.3rem;
	}

	.nav-link {
		font-size: 1em;
		display: block;
		width: 100%;
		letter-spacing: 10px;
	}

	.trending-container {
		display: flex;
		flex-direction: column;
		gap: 1.4rem;
	}
}

@media (min-width: 572px) {
	.navbar {
		opacity: 1;
		height: auto;
		position: relative;
		transform: translateY(0%);
	}
}

@media (max-width: 870px) {
	.banner-text {
		font-size: 3rem;
	}

	.nav-links {
		justify-content: center;
		gap: 8rem;
	}

	.nav-link {
		font-size: 1em;
	}

	.trending-container {
		grid-template-columns: repeat(4, clamp(150px, 20vw, 25%));
		grid-template-areas:
			"slide1 slide1 slide2 slide2"
			"slide3 slide3 slide3 slide3"
			"slide4 slide4 slide5 slide5";
	}

	.grid-movie--desc {
		font-size: 1rem;
	}

	.grid-movie:last-child {
		display: none;
	}
}
